html,body{
	margin: 0px;
	height: 100%;
	width :100%;
	font-family: '微軟正黑體';
}
.body-text{
	font-size: 30px;
	font-weight: bold;
	padding-top: 200px;
	text-align: center;
}
button{
	margin: 20px auto;
	text-align: center;
	display: flex;
}
.btn:hover{
	cursor: pointer;
}
.hide__btn{
	display: none;
}
.score{
	font-size: 26px;
	position: fixed;
	right: 4%;
	top:7%; 
}
.score-arr{
	font-size: 26px;
	position: fixed;
	right: 3%;
	top:15%;
}